<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 notification alert alert-success" #notify>Success!</div>
    </div>
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>
          </div>
          <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipe</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping-list</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <ng-template [ngIf]="!authService.isAuthenticated()" >
              <li><a [routerLink]="['login']">Login</a></li>
              <li><a [routerLink]="['signup']">Signup</a></li>
            </ng-template>
            <ng-template [ngIf]="authService.isAuthenticated()" >
                <li><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
                <li class="dropdown" appDropdown>
                  <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Manage
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a 
                      style="cursor: pointer;"
                      (click)="onFetchData()">Fetch Data</a></li>
                    <li><a 
                      style="cursor: pointer;"
                      (click)="onSaveData()">Save Data</a></li>
                  </ul>
                </li>
            </ng-template>
          </ul>
        </div>
      </nav>
    </div>
  </div>