@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.btn{
    margin-right: 15px;
}
.ingredientsFormItems{
    margin-bottom: 10px;
}

.notification{
    position: fixed;
    z-index: 10000;
    top: 50px;
    animation: notification .3s ease-in-out;
    animation-fill-mode: forwards;
    display: none;
}
@keyframes notification {
    from {
        top: 0;
    }
    to {
        top: 50px;
    }
}
.notification.show{
    display: block;
}