@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.btn{
    margin-right: 15px;
}
.ingredientsFormItems{
    margin-bottom: 10px;
}